/* General reset */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: #fff;
}

.body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Source Sans Pro";
  max-height: 100vh;
}

.header {
  background-image: url(images/headphones_hero_1.jpg);
}

.logo {
  font-size: small;
  justify-content: left;
  text-align: left;
  min-height: min-content;
  width: 160.962px;
  height: 31.18px;
  flex-shrink: 0;
  margin-top: 10px;
}

.nav-link {
  height: 15px;
  display: flex;
  float: right;
  margin-top: 10px;
}
.nav-text {
  margin: 10px;
  text-decoration: none;
}
.nav:hover {
  background-color: #ff6565;
}

.nav li {
  margin-left: 20px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin: 10px;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main h1 {
  font-size: 30px;
  margin-bottom: 8px;
  margin-top: 100px;
  font-weight: 700;
}

.main p {
  font-size: 20px;
  margin-bottom: 50px;
}

.cta-button {
  background-color: #ff6565;
  color: white;
  padding: 10px 20px;
  font-size: 12px;
  text-decoration: none;
  border-radius: 35px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #ff6565;
  opacity: 0.9;
}

.main-text2 {
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-text2 p {
  font-size: 20px;
  margin-bottom: 30px;
}

/* Main section */

.attribute-text-h2 {
  color: black;
  margin-top: 100px;
  font-size: 32px;
  font-weight: bold;
}

.attribute-main p {
  color: black;
  font-size: 20px;
  margin-top: 50px;
}

.attribute-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 50px;
  text-align: center;
}

.icon {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 50px;
}

.icon1 img {
  height: 65.36px;
  width: 94.2;
}

.icon2 img {
  height: 65.36px;
  width: 94.2;
}

.icon3 img {
  height: 65.36px;
  width: 94.2;
}

.icon4 img {
  height: 65.36px;
  width: 94.2;
}

.icon h2 {
  color: black;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}

.icon p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 26px;
}


/* our result section */

.header2 {
    background-image: url(images/headphones_hero_2.jpg);
}
.our-result-container {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Source Sans Pro";
  max-height: 100vh;
}
.our-result-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.our-result-content h2 {
    font-size: 32px;
    margin-top: 180px;
    margin-bottom: 70px;
    font-weight: 600;
}

.our-result-content p {
    font-size: 18px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.pentagon {
    display: flex;
    /* justify-content: space-around; Creates space between the pentagons */
    align-items: center;
    margin-top: 100px;
}


.pentagon1 {
  width: 190px;
  height: 190px;
  background-color: #FF6565;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-left: 100px;
  margin-right: 20px;
}

.pentagon1 p {
  margin: 0;
  position: absolute;
  font-size: 40px;
}

.pentagon1 h3 {
    margin-top: 80px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
